APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:vc/4XlG38Yqw3XCGWSUn8R07AG3wzSoG/ZCtgn+hXBc=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=hwzn-dashboard
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=info@hwzn.sa
MAIL_PASSWORD="Haw@zEnIN2020&2021"
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="no-reply@hwzn.sa"

AWS_ACCESS_KEY_ID="AKIAWQDRZPR3W53BKUM6"
AWS_SECRET_ACCESS_KEY="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"
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET="baze-hwzn"
AWS_USE_PATH_STYLE_ENDPOINT=false
FILESYSTEM_DRIVER="s3" # s3 or public

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

NODE_HOST=127.0.0.1
NODE_PORT=3000
NODE_MODE=test


SMS_KEY="bab5392f682ea03aa45ded5b56ed16c9b5d89a42"
SMS_USER="966580141174"
SMS_SENDER="HWZN"
SMS_MODE=test


TWILIO_ACCOUNT_SID="AC3d644d94265865caee8ce07ff7cc7122"
TWILIO_AUTH_TOKEN="48999242e00a817fc75893192cd19ecd"